@font-face {
    font-family: 'EASVHS';
    src: url('fonts/easvhs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'EASVHS', Arial;
    padding: 40px;
    text-align: center;
    background-color: lightgray;
    
    img{
        width: 200px;
        max-width: 100%;
    }
    h1{
    margin-bottom:0px;
    }
    h2,p{
    font-size: 1.2em;
    color:lightslategray;
    margin-bottom: 20px;
    }
   
    .material-symbols-outlined{
    position: relative;
    top:40px;
    left:-80px;
    margin-top: auto;
    }
    #icon{
    position:relative;
    left: 75px;
    }
    hr{
    margin-top: 40px;
    margin-bottom: 40px;
    }
   
  .contacts a{
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    color: white;
    background-color: midnightblue;
    transition: background-color 0.3s ease
    }

    .contacts a:hover{
    background-color: orangered;
    }
    .contacts a:active{
    background-color: midnightblue;
    }
    .contacts a:focus{
    outline: 2px solid yellow;
    }
    .contacts a:visited{
    color:crimson
    }
  }
  .business-card{
   background-color: beige;
   max-width: 30vw;
   height: auto;
   padding: 80px;
   margin:0 auto;
   border-radius: 10px;
   box-shadow: 0 4px 8px grey;
   transition: transform 0.3s, background-color 0.3s ease;
  }
  .business-card:hover {
    background-color: khaki;
    transform: scale(1.1);
  }